{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Welcome to GamerStatHub {% endblock %}</h1>
{% endblock %}

{% block content %}
<p>GamerStatHub is a Resource for Video Game Statistics.  Currently we have COUNT games in our database.</p>
  <form method="post">
    <label for="title">Enter a Game Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <input type="submit" value="Submit">
  </form>
{% endblock %}