{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Platform Sales Trends {% endblock %}</h1>
{% endblock %}

{% block content %}

<h2 style="text-align: center">Sales by Console since 2013</h2>
<!-- bar chart canvas element -->
<div align="center">
<canvas id="myChart" width="600" height="400"></canvas>
<p id="caption">Sales by Console since 2013</p>
<script>
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.legend = false;

      // define the chart data
      var chartData = {
        labels : [{% for platform in collection_of_platforms %}
                   "{{platform.name}}",
                  {% endfor %}],
        datasets : [{
            legend: false,
            fill: true,
            lineTension: 0.1,
            backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"],
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'round',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for platform in collection_of_platforms %}
                      {{platform.totalSales}},
                    {% endfor %}],
            spanGaps: false
        }]
      }

      // get chart canvas
      var ctx = document.getElementById("myChart").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
      });
    </script>
    </div>


{% endblock %}