{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Search Results {% endblock %}</h1>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <tr class="table-info">
        <th>Game Name: </th><th>Info</th>
    </tr>
{% for game in search_results %}
<tr><td> {{game}} </td> <td> <form method="post" action="gamedetails"><button class="btn btn-primary" type="submit" name="details_button" value="{{game}}">Game Details</button></form></td></tr>
    {% endfor %}
</table>

{% endblock %}